In [1]:
import pandas as pd 

df_raw = pd.read_csv('raw.csv')
df_test = pd.read_csv('test.csv')
df_train = pd.read_csv('train.csv')

df_raw.shape , df_test.shape, df_train.shape

((2900, 8), (580, 8), (2320, 8))

In [4]:
df_raw.head()
print(df_raw.columns)

Index(['Time_spent_Alone', 'Stage_fear', 'Social_event_attendance',
       'Going_outside', 'Drained_after_socializing', 'Friends_circle_size',
       'Post_frequency', 'Personality'],
      dtype='object')

In [14]:
categorical_features = df_raw.select_dtypes(include= 'object')
numerical_features = df_raw.select_dtypes(include= 'number')
numerical_features

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
0,4.0,4.0,6.0,13.0,5.0
1,9.0,0.0,0.0,0.0,3.0
2,9.0,1.0,2.0,5.0,2.0
3,0.0,6.0,7.0,14.0,8.0
4,3.0,9.0,4.0,8.0,5.0
...,...,...,...,...,...
2895,3.0,7.0,6.0,6.0,6.0
2896,3.0,8.0,3.0,14.0,9.0
2897,4.0,1.0,1.0,4.0,0.0
2898,11.0,1.0,NaN,2.0,0.0
2899,3.0,6.0,6.0,6.0,9.0